# Managed by Ansible. Accepts the EULA (https://www.spandock.com/legal/eula); secrets in a 0600 file.
SPANDOCK_ACCEPT_EULA=1
SPANDOCK_SECRET_STORE=file
{% if spandock_join_code %}
SPANDOCK_JOIN_CODE={{ spandock_join_code }}
{% endif %}
