# Managed by Ansible. Accepts the EULA (https://www.spandock.com/legal/eula); secrets in a 0600 file.
SPANDOCK_ACCEPT_EULA=1
SPANDOCK_SECRET_STORE=file
{% if spandock_join_code %}
SPANDOCK_JOIN_CODE={{ spandock_join_code }}
{% endif %}
{%- for key, value in {
  'SPANDOCK_PUBLIC_LISTEN': spandock_public_listen,
  'SPANDOCK_PUBLIC_NAME': spandock_public_name,
  'SPANDOCK_PUBLIC_DOMAIN': spandock_public_domain,
  'SPANDOCK_ACME_EMAIL': spandock_acme_email,
}.items() if value %}
{{ key }}={{ value }}
{%- endfor %}
